@charset "UTF-8";

body {
}

main {
	margin:0 auto;
	padding:10px;
	width: 960px;
	background-image: url(css-layouts-paper-texture.png);
	border-radius: 12px;
	position: relative;
}

header {
	text-align:center;
}

p.caption   {
	font-size: .8em;
	font-style:italic;
	text-align: right;
}
section {
	border-radius: 12px;
	position: relative;
	}
#left_column {
	width: 400px;
	margin-left: 20px;
}
		
#right_column {
	position: absolute;
	top: 550px;
	left: 500px;
	width: 400px;
	margin: 10px;
	overflow: hidden;
}

